<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div>
                    <!-- Rounded switch -->
                    <!-- <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label> -->
                </div>
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. I'm the Home Completer. How can I assist you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input class = "question" type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button btn btn-dark">Send</button>
                <form id="imageForm" enctype="multipart/form-data">
                    <input class="btn btn-dark" type="file" name="file" id="imageUpload" accept="image/*">
                    <input class="btn btn-dark" type="button" value="Submit Image" onclick="uploadImage()" onclick="notify('Image added')">
                </form>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>
<script>
    function uploadImage() {
        var formData = new FormData(document.getElementById('imageForm'));

        fetch('/process', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
    }
</script>
    <script>
        $SCRIPT_ROOT = { { request.script_root|tojson|safe } };
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>